<div class="contact-me">
  <h2>Get In Touch</h2>
  <h3>If you have some thoughts or feedback,  just click the button below.</h3>
  <p> I'll be happy to provide services if you think I could help you,  send me a messege in that regard.
  thank you </p>
  <a class="btn" href="/contact">CONTACT ME</a>
</div>
</div>


<div class="bottom-container">
<a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
<a class="footer-link" href="https://twitter.com/">Twitter</a>
<a class="footer-link" href="https://www.appbrewery.co/">Instagram</a>
<p class = "last-line">© 2020 someone. </p>
</div>
