<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/master.css">

    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">

    <title>About me</title>
  </head>


  <body>
    <%- include partials/header.ejs %>
    <div class="top">
      <div class="left-align">
        <img  class = "myImage left-align"src="images\selife.png" alt="">
      </div>
      <h1>I'm hrdeses drdr .</h1>
      <h2>A <span>web</span>-developer</h2>
      
        <p> I'm a Current student of software Engineering  , cuurent Front-end web developer, and a future Full-stack web developer
          kvniosndvNUSHICHDSIU U9U UEWEFIU ueiu heUIGEIYH UD UI DSUISH UFPH UHUIh h uHUIHDUIV H  SDIViuh 9  USDSHDHUIVu jui    shuHIPU H  HUSIDSHDV UIhioh  auihuv <hgroup>
            VAEIUHRIOJ[JEQ0[RJ0 J I0 AJPFJIOJQI
            AFHGI]]
          </hgroup>.</p>
    </div>
    <div class="contact-me">
      <h2>More info?</h2>
      <h3>you can find more professionsl information about me here</h3>
      <p> click the link below to download my PDF C.V </p>
      <a class="btn" href="documents/cv.pdf">Download PDF</a>
    </div>
    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/">Twitter</a>
      <a class="footer-link" href="https://www.appbrewery.co/">Instagram</a>
      <p class = "last-line">© 2020 someone. </p>
    </div>


  </body>


</html>
